:root {
  --red: rgb(153, 0, 0);
  --green: rgb(51, 153, 102);
  --blue: rgb(0, 102, 153);
  --dark: rgb(32, 33, 34);
  --darkgrey: rgb(98, 99, 100);
  --lightgrey: rgb(188, 188, 188);
  --light: rgb(246, 246, 246);
  --background: var(--light);
  --text: var(--dark);
  --secondary: var(--darkgrey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: rgb(220, 0, 0);
    --blue: rgb(0, 119, 179);
    --background: var(--dark);
    --text: var(--light);
    --secondary: var(--lightgrey);
  }
}

html {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--text);
}

path.red {
  fill: var(--red);
}

path.green {
  fill: var(--green);
}

path.blue {
  fill: var(--blue);
}