:root {
  --red: #990000;
  --green: #339966;
  --blue: #006699;
  --dark: #202122;
  --light: #FFFFFF;
  --background: var(--light);
  --text: var(--dark);
}

html {
  font-family: sans-serif;
  background-color: var(--light);
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --text: var(--light);
  }
}
html {
  background-color: var(--background);
  color: var(--text);
}